/node_modules

# Dependencies

# Testing
/coverage

# Production
/build
/dist

# Misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Cache
.worm-sign-cache.json

# Temporary Test Directories
verify_install*

# Logs
lint_output.txt

# Archived Sources
sources/archive/

# Verification Directories
verify_installs/

# Test Output
test_output/

# Research
.research/

# Reports and Output
reports/
output.json